language: c
sudo: false
env:
  global:
    - RACKET_DIR=~/racket
  matrix:
    - RACKET_VERSION="6.6"
    - RACKET_VERSION="6.7"
    - RACKET_VERSION="6.8"
    - RACKET_VERSION="HEAD"
matrix:
  allow_failures:
    - env: RACKET_VERSION="HEAD"

before_install:
  - git clone https://github.com/greghendershott/travis-racket.git ../travis-racket
  - cat ../travis-racket/install-racket.sh | bash
  - export PATH="${RACKET_DIR}/bin:${PATH}"

install:
 - git clone https://github.com/stchang/macrotypes.git
 - cd macrotypes
 - raco pkg install --auto -n turnstile

script:
 - raco test --package turnstile
 - raco setup
